.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(0.6rem);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}
.createPostModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background: var(--primary-dark);
	width: 50rem;
	min-height: 30rem;
	border-radius: var(--border-radius);
	padding: 2rem;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.15rem solid var(--secondary-dark);
	padding-bottom: 1rem;
}
.closeBtn {
	border: 0;
	cursor: pointer;
	background: var(--secondary-dark);
	color: var(--text-color);
	height: 3rem;
	width: 3rem;
	border-radius: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.profile {
	padding: 1.5rem 0;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.profile > img {
	margin-right: 1rem;
}
.profile h4 {
	font-size: 1.5rem;
	font-weight: 500;
}
.profile svg {
	font-size: 1.2rem;
	color: var(--light-text);
	margin-right: 0.3rem;
}
.profile p {
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: var(--light-text);
	margin-top: 0.3rem;
}
.postBackgroundOptions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.postBackgroundOptions img {
	width: 3.5rem;
	height: 3.5rem;
	object-fit: cover;
	cursor: pointer;
}
.postBackgroundOptions svg {
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	color: var(--light-text);
	transition: 250ms all;
}
.postBackgroundOptions svg:hover {
	color: var(--text-color);
}
.postBackgroundOptions svg:active {
	transform: scale(0.98);
}
.addToPost {
	margin-top: 2rem;
	background: none;
	border: 0.1rem solid var(--light-dark);
	padding: 1.5rem 1rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.addToPostOptions svg {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
.postBtn {
	width: 100%;
	margin-top: 1rem;
	font-size: 1.5rem;
	padding: 1rem;
}
.modalBody {
	display: flex;
	align-items: flex-start;
	width: 100%;
}
.modalBody svg {
	margin-top: 1rem;
}
.textareaContainer {
	width: 100%;
}
.emojiPickerWrapper {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9999999999;
}
.emojiPicker {
	position: absolute;
	right: -27rem;
	top: 14rem;
}
.uploadImageContainer {
	background: 0;
	border: 0.1rem solid var(--light-dark);
	padding: 0.8rem;
	border-radius: var(--border-radius);
}
.addImages {
	background: var(--secondary-dark);
	min-height: 25rem;
	max-height: 35rem;
	width: 100%;
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.addIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--light-dark);
	border-radius: 50%;
	height: 5.5rem;
	width: 5.5rem;
	cursor: pointer;
	transition: 250ms all;
}
.addIcon:hover {
	background: var(--primary-dark);
}
.addImages svg {
	font-size: 3.5rem;
	color: var(--light-text);
}
.addImages h3 {
	font-size: 1.6rem;
	margin-top: 1rem;
}
.addImages p {
	font-size: 1.2rem;
	color: var(--light-text);
}
.addMoreImages {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 4rem;
	width: 4rem;
	background: var(--light-dark);
	transform: translate(-50%, -50%);
}
.addMoreImages svg {
	width: 2rem;
	height: 2rem;
	color: var(--text-color);
	transition: 250ms all;
}
.addMoreImages:hover svg {
	transform: scale(1.1);
}
.images {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: var(--border-radius);
}
.images img {
	width: 100%;
	object-fit: cover;
}
.images2 {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: var(--border-radius);
}
.images2 img {
	width: 50%;
	min-height: 25rem;
	max-height: 35rem;
	object-fit: cover;
}
.images3 {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	overflow: hidden;
	border-radius: var(--border-radius);
}
.images3 img {
	width: 100%;
	min-height: 15rem;
	max-height: 15rem;
	object-fit: cover;
}
.images3 img:nth-child(1) {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}
.images4 {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
	border-radius: var(--border-radius);
}
.images4 img {
	width: 50%;
	min-height: 15rem;
	max-height: 15rem;
	object-fit: cover;
}
.images5 {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	overflow: hidden;
	border-radius: var(--border-radius);
}
.images5 img {
	width: 100%;
	min-height: 12rem;
	max-height: 12rem;
	object-fit: cover;
}
.images5 img:nth-child(1) {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}
.images6 {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	overflow: hidden;
	border-radius: var(--border-radius);
}
.images6 img {
	width: 100%;
	min-height: 15rem;
	max-height: 15rem;
	object-fit: cover;
}
.images7 img:nth-child(1) {
	grid-column: 1/3;
}
.images6,
.images7 {
	overflow-y: scroll;
	height: 100%;
}
.images6::-webkit-scrollbar,
.images7::-webkit-scrollbar {
	width: 0.5rem;
}
.images6::-webkit-scrollbar-thumb,
.images7::-webkit-scrollbar-thumb {
	background: var(--light-dark);
}
.postBackgrounds {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}
.postBackgrounds img {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	object-fit: cover;
	border-radius: 0.3rem;
	animation: SlideIn 300ms ease;
}
.noneBackground {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	border-radius: 0.3rem;
	background-color: var(--text-color);
}
@keyframes SlideIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
