.feedContainer {
	background: var(--background);
	width: 100%;
	padding: 3rem;
	min-height: calc(100vh - 10rem);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feedContainer::-webkit-scrollbar {
	display: none;
}
.postsContainer {
	margin-top: 5rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
