.postCard {
	width: 55rem;
	background: var(--white);
	padding: 1.5rem;
	border-radius: 1rem;
	box-shadow: var(--shadow-4);
}
.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header > img {
	margin: 0;
	margin-right: 1rem;
}
.postInput {
	border-radius: 0.7rem;
	border: 0;
	background: #f6f7f9;
	font-size: 1.4rem;
}
.options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}
.options > button {
	font-size: 1.5rem;
	padding: 0.7rem 2.5rem;
	transition: 250ms all;
}
.options > button:hover {
	background: var(--light-green);
}
.optionBtns {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.optionBtn {
	background: none;
	font-size: 1.3rem;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: 250ms all;
	padding: 1rem;
}
.optionBtn:hover {
	color: var(--white);
	background-color: var(--primary-color);
}
.optionBtn:not(:last-child) {
	margin-right: 0.5rem;
}
.optionBtn > svg {
	margin-right: 0.5rem;
	font-size: 1.6rem;
}
