.postContainer {
	width: 70rem;
	background: var(--secondary-dark);
	border-radius: var(--border-radius);
}
.postContainer:not(:last-child) {
	margin-bottom: 2.5rem;
}
.postHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem 1rem 0 1rem;
}
.postHeaderLeft {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.profileImage {
	width: 4.5rem;
	height: 4.5rem;
}
.postUserDetails {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}
.postUserDetails > h3 {
	font-size: 1.6rem;
	font-weight: 600;
}
.postUserDetails > p {
	font-size: 1.2rem;
	margin-top: 0.1rem;
	color: var(--light-text);
}
.updated {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.updated > p {
	font-size: 1.6rem;
	color: var(--light-text);
	margin-left: 0.5rem;
}
.date {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-transform: capitalize;
}
.date > svg {
	margin-right: 0.5rem;
}
.postHeaderRight {
	padding-right: 1rem;
	position: relative;
}
.postHeaderRight > svg {
	font-size: 2rem;
	cursor: pointer;
}
.postBody {
	margin: 2rem 0 1rem 0;
}
.postBody > p {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0rem 2rem 0.5rem 2rem;
}
.profilePicture {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4rem 0 5rem 0;
}
.profilePicture > img {
	width: 40rem;
	height: 40rem;
	border-radius: 50%;
	margin: 0 auto;
}
.postImage {
	width: 100%;
	height: 70rem;
	margin-top: 1rem;
}
.postImage > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.postImage2 {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40rem;
	margin-top: 1rem;
}
.postImage2 > img {
	width: 50%;
	height: 100%;
	object-fit: cover;
}
.postImage3 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 100%;
	height: 60rem;
	margin-top: 1rem;
}
.postImage3 > img {
	border: 0.1rem solid var(--secondary-dark);
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.postImage3 > img:nth-child(1) {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}
.postImage4 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: 60rem;
	margin-top: 1rem;
}
.postImage4 > img {
	border: 0.1rem solid var(--secondary-dark);
	width: 50%;
	height: 50%;
	object-fit: cover;
}
.postImage5 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 100%;
	height: 70rem;
	margin-top: 1rem;
}
.postImage5 img {
	width: 100%;
	height: 100%;
	border: 0.1rem solid var(--secondary-dark);
	object-fit: cover;
}
.postImage5 img:nth-child(1) {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}
.moreImages {
	position: relative;
}
.moreImages::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(0, 0, 0, 0.5);
}
.number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	font-weight: 800;
	color: var(--text-color);
}
.postBody > .postBackground {
	width: 100%;
	height: 50rem;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: var(--primary-dark);
	font-weight: 500;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
	padding: 2rem;
}
.postText {
	font-size: 1.8rem;
	padding: 0.5rem 2rem 2rem 2rem;
}
.postFooter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}
.postReactions {
	padding: 0 1rem;
}
.postReactions > img {
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 0.5rem;
}
.postReactions > img:nth-child(2) {
	margin-left: -0.7rem;
}
.postReactions > img:nth-child(3) {
	margin-left: -0.7rem;
}
.postFooterRight {
	display: flex;
	align-items: center;
}
.postFooterRight > p {
	font-size: 1.3rem;
	cursor: pointer;
	color: var(--light-text);
}
.postFooterRight > p:hover {
	text-decoration: underline;
}
.postFooterRight > p:not(:last-child) {
	margin-right: 1rem;
}
.postOptions {
	border-top: 0.1rem solid var(--light-dark);
	border-bottom: 0.1rem solid var(--light-dark);
	margin: 1rem 0;
	padding: 0.5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	gap: 2rem;
	position: relative;
}
.postOption {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 0rem;
	background: none;
	font-size: 1.4rem;
	color: var(--light-text);
	width: 100%;
}
.postOption:hover {
	background: var(--light-dark);
}
.postOption > img {
	margin-right: 0.5rem;
}
.loggedUserOptions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 1rem;
}
.loggedUserComment {
	width: 100%;
	margin: 0 1rem;
	position: relative;
	background: var(--icons-bg-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.7rem;
}
.loggedUserComment > input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 1.3rem;
}
.loggedUserOptions > button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}
.loggedUserComment svg {
	font-size: 2rem;
	margin-right: 1rem;
	cursor: pointer;
	color: var(--light-text);
	transition: 250ms all;
}
.loggedUserComment svg:hover {
	color: var(--text-color);
}
.commentEmojiPicker {
	top: -33rem;
	right: -25rem;
}
.commentError {
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}
.commentImage {
	width: 15rem;
	height: 10rem;
	margin: 1rem 2.5rem;
	position: relative;
}
.commentImage > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.4rem;
}
.closeIcon {
	background: var(--light-dark);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	position: absolute;
	right: -0.8rem;
	top: -0.8rem;
}
.closeIcon svg {
	font-size: 1.2rem;
}
