.postCard {
	width: 70rem;
	background: var(--secondary-dark);
	padding: 1.5rem 1.5rem;
	border-radius: 1rem;
}
.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header > img {
	margin: 0;
	margin-right: 1rem;
	width: 4.5rem;
	height: 4.5rem;
}
.postInput {
	border-radius: 0.7rem;
	border: 0;
	background: var(--icons-bg-color);
	font-size: 1.4rem;
}
.options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
	padding-top: 1rem;
	border-top: 0.1rem solid var(--light-dark);
}
.options > button {
	font-size: 1.6rem;
	padding: 0.7rem 2.5rem;
	transition: 250ms all;
}
.options > button:hover {
	background: var(--btn-bg-color);
}
.optionBtns {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}
.optionBtn {
	background: none;
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 250ms all;
	padding: 0.7rem 1.5rem;
	color: var(--light-text);
	width: 100%;
}
.optionBtn:hover {
	background: var(--light-dark);
}
.optionBtn:not(:last-child) {
	margin-right: 0.5rem;
}
.optionBtn img {
	margin-right: 0.5rem;
	width: 2.5rem;
	height: 2.5rem;
}
.optionBtn svg {
	margin-right: 0.5rem;
	width: 2.3rem;
	height: 2.3rem;
}
