.backArrow {
	background: var(--primary-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
}
.backArrow > svg {
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	color: var(--text-color);
}
.forgetPasswordPage {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}
.forgetPasswordCard {
	width: 50rem;
	padding: 3rem;
	background: var(--secondary-dark);
	border-radius: var(--border-radius);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}
.forgetPasswordCard p {
	margin: 1rem 0 2rem 0;
}
.forgetPasswordCard form {
	width: 100%;
}
.error {
	margin: 0 !important;
}
.cancelBtn {
	background: var(--secondary-dark);
}
.buttonsContainer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}
.accountEmail {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column-reverse;
	margin: 2rem 0;
	width: 100%;
}
.left {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 2rem;
}
.left label {
	cursor: pointer;
}
.left input {
	width: 1.4rem;
	height: 1.4rem;
	margin-right: 1rem;
	cursor: pointer;
}
.right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.right p {
	color: var(--light-text);
}
.searchAccountError {
	padding-bottom: 2rem;
}
