.sendVerification {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: var(--btn-bg-color);
	color: var(--white);
	font-size: 1.4rem;
	padding: 0.5rem;
	text-align: center;
}
.sendVerification a {
	margin-left: 1rem;
	text-decoration: underline;
}
.sendVerification p {
	margin: 0;
	margin-left: 1rem;
}
