.sidebar {
	padding: 0 1rem;
	flex: 1;
	position: sticky;
	top: 6rem;
}
.sidebar li {
	cursor: pointer;
}
.sidebar a {
	width: 100%;
}
.userInfo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 2rem;
}
.userInfo > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.userInfo h4 {
	font-size: 1.5rem;
	font-weight: 400;
}
.userInfo p {
	margin-top: 0.5rem;
	font-weight: 600;
}
.sidebarLinks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 2rem;
}
/* .sidebarLinks::-webkit-scrollbar {
	width: 0.5rem;
}
.sidebarLinks::-webkit-scrollbar-thumb {
	background: var(--light-dark);
	border-radius: 0.5rem;
}
.sidebarLinks::-webkit-scrollbar-track {
	background: var(--secondary-dark);
} */
.sidebarLinks li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.7rem;
	font-weight: 600;
	font-size: 1.5rem;
}
.sidebarLinks img {
	width: 3.5rem;
	height: 3.5rem;
}
.sidebarLinks img:first-child {
	border-radius: 50%;
}
.sidebarLink {
	padding: 1.2rem 1.5rem;
	width: 100%;
	border-radius: 0.5rem;
	transition: 250ms all;
	font-size: 1.6rem !important;
}
.sidebarLink:not(:last-child) {
	margin-bottom: 0.5rem;
}
.sidebarLink:hover {
	background: var(--light-dark);
	color: var(--white);
}
