.authenticationPage {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.header {
	width: 100%;
	padding: 2rem 5rem;
}
.header > h1 {
	font-weight: 700;
	background-image: var(--gradient2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.stroke {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.left {
	flex: 0.55;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 38rem;
	padding: 10rem 0;
	margin: 0 auto;
}
.form > * {
	width: 100%;
}
.form > h2 {
	margin-bottom: 5rem;
}
.input {
	margin-bottom: 2rem;
}
.input > label {
	font-weight: 500;
}
.input > input {
	margin-top: 1rem;
}
.signup {
	text-align: center;
	margin-top: 3rem;
}
.signup {
	color: var(--grey);
	font-weight: 600;
}
.signup span {
	margin-left: 1rem;
	color: var(--primary-color);
	cursor: pointer;
}
.signup span:hover {
	text-decoration: underline;
}
.right {
	position: fixed;
	top: 0;
	right: 0;
	width: 45vw;
	min-height: 100vh;
	background-image: var(--gradient1);
}
.datePicker {
	margin-top: 1rem;
}
.genderInput {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 1rem;
}
.genderInput > label:not(:last-child) {
	margin-right: 2rem;
}
.genderInput label input {
	margin-right: 0.5rem;
}
.genderInput label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	cursor: pointer;
}
@media screen and (max-width: 1024px) {
	.right {
		display: none;
	}
	.left {
		flex: 1;
	}
}
@media screen and (max-width: 767px) {
	.stroke {
		width: 100%;
	}
}
@media screen and (max-width: 425px) {
	.form {
		width: 90%;
		padding: 5rem 0;
	}
	.header {
		padding: 2rem;
	}
}
@media screen and (max-width: 375px) {
	.header {
		padding: 2rem 1rem;
	}
}
